@import "tailwindcss";

@theme {
  --breakpoint-xs: 400px;
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  p, li, .grey {
    color:#505050;
  }

  h1, h2, h3, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  h1 {
    font-size: 1.5rem;
    color:#505050;
  }

  .about {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
  }




