@import "tailwindcss";

@theme {
  --breakpoint-xs: 400px;
}

html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  p, li, .grey {
    color:#505050;
  }

  h1, h2, h3, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  h1 {
    font-size: 1.5rem;
    color:#505050;
  }

  .about {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
  }

  /* Class for logos in EntryCard */
  .logo {
    height: calc(var(--spacing) * 7);
    margin-right: 0px;
  }

  .logo:hover {
    transform: scale(1.15);
  }

  /* Class for paragraphs in forms/Container */
  .form-paragraph {
    margin-top: calc(var(--spacing) * 4);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    text-align: center;
  }

  .paragraph_link {
    color: var(--color-blue-600);
    cursor: pointer;
  }

  .paragraph_link:hover {
    text-decoration-line: underline;
  }




